<div class="container" ng-controller="ExpensesEditCtrl">
	<h3>
		Edit {{rdesc.attributes.name.singular}}
	</h3>
	<h5>{{rdesc.attributes.description}}</h5>

	<form name="form" novalidate>
		<div class="form-group"
			ng-repeat="field in rdesc.attributes.fields"
			ng-if="fep.hiddenFields.indexOf(field.name) == -1"
			ng-include="'/partials/fields/default-field.html'">
		</div>
	</form>

	<div class="form-group">
		<button class="btn btn-primary" ng-click="updateResource(model, rdesc)">Submit</button>
	</div>
</div>
