<!-- <input type="date" class="form-control" ng-model="model[field.name]" ng-disabled="field.validation['read-only']"> This is a date though. -->

<div class="input-group" ng-controller="DateCtrl">
	<span class="input-group-btn">
		<button type="button" class="btn btn-outline-secondary" ng-click="open($event)">
			<i class="fa fa-calendar" aria-hidden="true"></i>
		</button>
	</span>
	<input name="value" type="text" class="form-control" datepicker-popup="short" ng-model="model.attributes[field.name]" is-open="opened" datepicker-options="dateOptions" date-disabled="field.validation['read-only']" close-text="Close">
</div>
