<select chosen name="value" multiple ng-model="model.attributes[field.name]" ng-options="m.id as (m.attributes.name || m.attributes.title || m.id) for m in data[field.kind['target-type']]" ng-disabled="field.validation['read-only']" style="min-width: 300px;">
	<option value=""></option>
</select>
<a ui-sref="add({resourceName: field.kind['target-type']})" target="_blank" class="btn btn-sm btn-success" role="button">Add</a>
<button class="btn btn-sm btn-outline-primary" ng-click="refreshData(data, field.kind['target-type'])"><i class="fa fa-refresh" aria-hidden="true"></i></button>
