<div class="container">
	<form>
		<h3>Person</h3>
	  <div class="form-group">
	    <label>Name</label>
	    <input type="text" class="form-control">
	  </div>
	  <!-- <div class="form-group">
	    <label>Current Employer</label>
	    <input type="text" class="form-control">
	  </div> -->
	  <div class="form-group">
	  	<div class="row">
	  		<div class="col-md-8">
			    <label>Schools</label>
			    <input type="text" class="form-control">
			</div>
			<div class="col-md-4">
			    <label>Graduation Date</label>
			    <input type="text" class="form-control">
			</div>
		</div>
	  </div>
	  <div class="form-group">
	  	<div class="row">
	  		<div class="col-md-6">
	    		<label>Twitter</label>
	    		<input type="text" class="form-control">
	    	</div>
	    	<div class="col-md-6">
	    		<label>Email</label>
	    		<input type="email" class="form-control">
	    	</div>
	    </div>
	  </div>
	  <div class="form-group">
	  	<div class="row">
	  		<div class="col-md-6">
	    		<label>Gender</label>
	    		<input type="text" class="form-control">
	    	</div>
	    	<div class="col-md-6">
	    		<label>Phone</label>
	    		<input type="text" class="form-control">
	    	</div>
	    </div>
	  </div>
	  <!-- <div class="form-group">
	  	<label>Skills</label>
	  	<textarea class="form-control"></textarea>
	  </div>
	  <div class="form-group">
	  	<label>Wants to Learn</label>
	  	<textarea class="form-control"></textarea>
	  </div> -->
	  <div class="form-group">
	  	<label>Notes</label>
	  	<textarea class="form-control"></textarea>
	  </div>
	  <div class="form-group">
	    <label>Image URL</label>
	    <input type="text" class="form-control">
	  </div>
	  <hr>
	  <h3>Presenter</h3>
	  <div class="form-group">
	    <label>Title</label>
	    <input type="text" class="form-control">
	  </div>
	  <div class="form-group">
	    <label>URL</label>
	    <input type="text" class="form-control">
	  </div>
	  <div class="form-group">
	    <label>Short Bio</label>
	    <textarea class="form-control"></textarea>
	  </div>

	  <button type="submit" class="btn btn-default">Submit</button>
	</form>

</div>