<div class="container">
	<h3>List {{rdesc.name.singular}}</h3>
	<h5>{{rdesc.description}}</h5>

	<div class="form-group">
		<select chosen 
				ng-model="model" 
				ng-options="m.name for m in data"
				style="width: 500px;">
			<option value=""></option>
		</select>
	</div>

	<div class="form-group">
		<table class="table table-hover table-bordered table-condensed">
			<tr ng-repeat="field in rdesc.fields">
				<th>{{field.friendlyName}}</th>
				<td>{{model[field.name]}}</td>
			</tr>
		</table>
	</div>

	<div class="form-group">
		<a ui-sref="edit({resourceName: rdesc.id, id: model.id})" class="btn btn-primary">Edit</a>
		<a class="btn btn-danger">Delete</a>
	</div>
</div>