body {
  padding-top: 50px;
}

label {
  margin-bottom: 0px;
}

.form-group {
  margin-top: 25px;
  margin-bottom: 25px;
}

.chosen-container-single .chosen-single, .chosen-container-multi .chosen-choices {
  min-height: 30px !important;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: none;
  box-shadow: none;
  color: #444;
  line-height: 30px;

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.chosen-container-active, .chosen-width-drop{
  background: none;
}

.chosen-container-single .chosen-single div b {
  background-position-y: 4px;
}

.content {
  padding-top: 20px;
}
