body {
  padding-top: 50px;
}

label {
  margin-bottom: 0px;
}

.form-group {
  margin-top: 25px;
  margin-bottom: 25px;
}

footer {
  padding-top: 4em;
  padding-bottom:1em;
  color: rgb(150, 150, 150);
  font-size: 14px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.chosen-container-single .chosen-single, .chosen-container-multi .chosen-choices {
  min-height: 30px !important;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: none;
  box-shadow: none;
  color: #444;
  line-height: 30px;

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.chosen-container-active, .chosen-width-drop{
  background: none;
}

.chosen-container-single .chosen-single div b {
  background-position-y: 4px;
}

.content {
  padding-top: 20px;
}

.topCard .card-body{
  position: relative;
}

.topCard .card-body a h2 { 
  width: 100%;
  height: 12em;
}

.topCard .card-body a { 
  text-decoration: none;
}

.topCard .card-footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.cardButton:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-footer{
  background-color: #28a745;
  color: white;
}

.card-footer:hover{
  background-color: #1e7c33;
}

.midCard .card-body a h3 { 
  width: 100%;
  height: 5em;
}

.midCard .card-body a { 
  text-decoration: none;
}

.midCard .card-footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.otherResourceCard{
  height: 10em;
  overflow-y: auto;
}
