<!doctype html>
<html>
<head>
  <title>Tech@NYU Intranet</title>

  <!--CSS Libraries-->
  <link href="http://zhaber.github.io/datetimepicker/datetimepicker.css" type="text/css" rel="stylesheet"> 
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/multi-select.css" type="text/css" rel="stylesheet"/>

  <!--User Defined CSS-->
  <link rel="stylesheet" href="/css/app.css"/>

  <!--Crossdomain-->
  <script src="http://cdn.rawgit.com/jpillora/xdomain/0.6.15/dist/0.6/xdomain.min.js" slave="https://api.tnyu.org/v1.0/proxy.html"></script>

  <!--JavaScript Libraries-->
  <script type="text/javascript"  src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  <script  type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js"></script>
  <script src="http://zhaber.github.io/datetimepicker/datetimepicker-tpls-0.11.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!--User Defined JavaScript-->
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/controllers.js"></script>
  <script type="text/javascript" src="/js/directives.js"></script>
  <script type="text/javascript" src="/js/filters.js"></script>
  <script type="text/javascript" src="/js/services.js"></script>
  <script type="text/javascript" src="/js/lib/multi-select.js"></script>
</head>
<body ng-app="app" ng-controller="EventAddCtrl">
  <main class="content container col-md-12">

    <!--Form-->
    <div class="col-md-offset-1 col-md-5">
      <form id="event-add-form" role="form" name="form" ng-submit="submit()" novalidate>
        <!--Header-->
        <div class="row content-header-container">
          <legend><h2>Add New Event</h2></legend>
        </div>

        <!--Title-->
        <div class="row" ng-init="titleLength = 1000">
          <label for="title">Title</label>
          <p>No need to mention the initiative name or the speaker.</p>
          <input name="title" class="form-control" ng-model="event.title"
          ng-maxlength={{titleLength}}>

          <!-- Show characters left if available -->
          <span ng-show="!form.title.$error.maxlength">
            {{titleLength - event.title.length}} chars left
          </span>

          <!--Show error if input is too long-->
          <span ng-show="form.title.$error.maxlength">Too long</span>
        </div>

        <!--Short Title-->
        <div class="row" ng-init="shortTitleLength = 25">
          <label for="shortTitle">Short Title</label>
          <input name="shortTitle" class="form-control" ng-model="event.shortTitle" ng-maxlength="{{shortTitleLength}}">

          <!-- Show characters left if available -->
          <span ng-show="!form.shortTitle.$error.maxlength">
            {{shortTitleLength - event.shortTitle.length}} chars left
          </span>

          <!--Show error if input is too long-->
          <span ng-show="form.shortTitle.$error.maxlength">Too long</span>
        </div>

        <!--RSVP URL-->
        <div class="row">
          <label for="event-rsvp-url">RSVP URL</label>
          <p>Place here the generated URL of the Facebook event after you post it.</p>
          <input type="url" name="event-rsvp-url" class="form-control" />
        </div>
        
        <!--Team Selectors-->
        <div class="row">
          <label>Team</label>
          <ul class="inlineblock-li event__team-selector">
            <li ng-repeat="team in teams">
              <button class="btn" ng-class="{selected: selectedTeams[team.id]}" type="button" ng-click="toggleTeam(team.id)">{{team.name}}</button>
            </li>
          </ul>
        </div>

        <!--Start Time-->
        <div class="row">
          <label for="startDateTime">Starts</label><br/>
          <datetimepicker name="startDateTime" min-date="Date.now()" minute-step="15" ng-model="event.startDateTime" date-format="dd-MMM-yyyy"></datetimepicker>
        </div>

        <!--End Time-->
        <div class="row">
          <label for="endDateTime">Ends</label><br/>
          <datetimepicker name="startDateTime" min-date="Date.now()" minute-step="15" ng-model="event.endDateTime" date-format="dd-MMM-yyyy"></datetimepicker>
        </div>

        <!--Description-->
        <div class="row" ng-init="descriptionLength = 10000">
          <!-- Label and input-->
          <label for="description">Description</label>
          <p> Why would someone come to the event? Don’t just restate what you’ll cover, but what that thing will let you do. (E.g. “Learn to predict trends and behaviors with data” is far better than “Learn the basics of data science.”) </p>
          <textarea name="description" class="form-control" rows="6" ng-model="event.description" ng-maxlength={{descriptionLength}}></textarea>

          <!-- Show characters left if available -->
          <span ng-show="!form.description.$error.maxlength">
            {{descriptionLength - event.description.length}} chars left
          </span> 

          <!--Show error if input is too long-->
          <span ng-show="form.description.$error.maxlength">Too long</span>
        </div>

        <!--Details-->
        <div class="row" ng-init="detailsLength = 10000">
          <!-- Label and input -->
          <label for="details">Details</label>
          <textarea name="details" class="form-control" rows="6" ng-model="event.details" ng-maxlength={{detailsLength}}></textarea>

          <!-- Show characters left if available -->
          <span ng-show="!form.details.$error.maxlength">
            {{detailsLength - event.details.length}} chars left
          </span>

          <!--Show error if input is too long-->
          <span ng-show="form.details.$error.maxlength">Too long</span>
        </div>

        <!--Co-Organizers-->
        <div class="row">
          <label for="coorganizers">Co-Organizers</label>
          <div
            multi-select
            input-model="coorganizers"
            output-model="selectedCoorgs"
            button-label="name"
            item-label="name"
            tick-property="ticked" 
          ></div>
          <button type="button" class="btn btn-default btn-block" ng-click="addCoorganizer()">+ New Coorganizer</button>
        </div>

        <!--Presenters-->
        <div class="row">
          <label for="presenters">Presenters</label>
          <div
            multi-select
            input-model="presenters"
            output-model="selectedPresenters"
            button-label="name"
            item-label="name"
            tick-property="ticked"
          ></div>
          <button type="button" class="btn btn-default btn-block" ng-click="addPresenter()">+ New Presenter</button>
        </div>

        <!--Venues-->
        <div class="row">
          <label for="venues">Venues</label>
          <div     
            multi-select
            input-model="venues"
            output-model="selectedVenue"
            button-label="name"
            item-label="name"
            selection-mode="single"
            tick-property="ticked" 
          ></div>
          <button type="button" class="btn btn-default btn-block" ng-click="addVenue()">+ New Venue</button>
        </div>

        <!--Gender Representative-->
        <div class="row">
          <label for="gender-rep">
            Gender Representative
          </label>
          <div     
            multi-select
            input-model="genderRep"
            output-model="selectedGenderRep"
            button-label="name"
            item-label="name"
            selection-mode="single"
            tick-property="ticked" 
          ></div>
        </div>

        <div class="row">
          <label for="statuses">Event Status</label>
          <select name="statuses" class="form-control" ng-model="event.status">
            <option ng-repeat="status in eventStatuses" ng-value="status.id">
              {{status.name}}
            </option>
          </select>
        </div>

        <!--Add Button-->
        <div class="row text-center">
          <input name="addedBy" type="text" model="event.addedBy" hidden="hidden" />
          <button type="submit" class="btn btn-primary btn-block">Add Event</button>
        </div>
      </form>
    </div>

    <!--Preview-->
    <div class="sidebar col-md-offset-7 col-md-4">
      <div class="content-header-container row">
        <header class="content-header">
          <h4>Preview</h4>
        </header>
      </div>
      <div id="event-add-preview" class="well well-sm">
        <h4>Name</h4>
        {{event.title}}

        <h4>Details</h4>
        <pre class="copyable-plaintext">
          {{event.description}}

          {{event.details}}

          All tech@nyu events are covered by a strict anti-harassment policy: http://techatnyu.org/anti-harassment
        </pre>

        <h4>When</h4>
        <p>{{event.startDateTime | date: 'MM/dd h:mma' : 'UTC'}} &ndash; {{event.endDateTime | date: 'MM/dd h:mma' : 'UTC'}}</p>
      </div>

      <div class="content-header-container row">
        <header class="content-header">
          <h4>Errors</h4>
        </header>
      </div>
      <div>
        <div class="alert alert-info" role="alert" ng-hide="validationErrors">
          No validation errors!
        </div>
        <div class="alert alert-danger" role="alert" ng-repeat="error in validationErrors">
          {{error.title}}
        </div>
      </div>
    </div>
  </main>
</body>
</html>