extends layout

block body
  div(ng-controller='AppCtrl')
    h2 Hello {{name}}
    ul.menu
      li
        a(href='people') People
      li
        a(href='other') Other

    div(ng-view)

    div
      | Angular seed app: v
      span(app-version)
