/* app css stylesheet */

@media (min-width: 0px) {    
    .container{
        width: 100%;
    }
}

.row {
  margin-bottom: 20px;
}

button.selected {
  color: #fff !important;
  background-color: #428bca !important;
}

.sidebar {
  position: fixed;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.input-valid {
  color: green;
}

.input-invalid {
  color: red;
}

.input-warning {
  color: orange;
}

.copyable-plaintext {
  font-family: inherit;
  word-wrap: normal;
  white-space: pre-wrap;
  word-break: normal;
}
.inlineblock-li {
  padding: 0;
}
.inlineblock-li li {
  list-style: none;
  display: inline-block;
}
.event__team-selector button {
  margin: 0 5px 5px 0;
  background-color: #eee;
}
