<div class="container" ng-controller="PersonListCtrl">
	<h3>
		List {{rdesc.attributes.name.singular}}
	</h3>
	<h5>{{rdesc.attributes.description}}</h5>

	<div class="form-group">
		<select chosen
				ng-model="model"
				ng-options="(m.attributes.name || m.attributes.title || m.id) for m in data"
				ng-change="updateSelection(model.id)"
				style="width: 500px;">
			<option value=""></option>
		</select>
		<button ui-sref="add({resourceName: rdesc.id})" class="btn btn-sm btn-success">Add</button>
		<button ui-sref="edit({resourceName: rdesc.id, id: model.id})" ng-disabled="!model" class="btn btn-sm btn-primary">Edit</button>
		<button ng-click="deleteResource(model.id)" ng-disabled="!model" class="btn btn-sm btn-danger">Delete</button>
	</div>

	<div class="form-group">
		<table class="table table-hover table-bordered table-sm">
			<tr>
				<th>ID</th>
				<td>{{model.id}}</td>

				<tr>
					<th>Roles</th>
					<td>{{personIDtoAttr[model.id].roles}}</td>
				</tr>

				<tr>
					<th>Schools</th>
					<td>{{personIDtoAttr[model.id].schools}}</td>
				</tr>

				<tr>
					<th>Current Employer</th>
					<td>{{personIDtoAttr[model.id].currentEmployer}}</td>
				</tr>

				<tr>
					<th>Title</th>
					<td ng-bind-html="model.attributes['title']"></td>
				</tr>

				<tr>
					<th>Skills</th>
					<td>{{personIDtoAttr[model.id].skills}}</td>
				</tr>

				<tr>
					<th>Wants To Learn</th>
					<td>{{personIDtoAttr[model.id].wantsToLearn}}</td>
				</tr>

				<tr>
					<th>Wants To Hire</th>
					<td>{{personIDtoAttr[model.id].wantsToHire}}</td>
				</tr>

				<tr>
					<th>Image URL</th>
					<td ng-bind-html="personIDtoAttr[model.id].imgURL"></td>
				</tr>

			</tr>
			<tr ng-repeat="field in rdesc.attributes.fields"
					ng-if="field.name !== 'id' && field.name !== 'skills'
								&& field.name !== 'wantsToHire'
								&& field.name !== 'wantsToLearn'
								&& field.name !== 'currentEmployer'
								&& field.name !== 'schools'
								&& field.name !== 'roles'
								&& field.name !== 'title'
								&& field.name !== 'imgUrl'">
				<th>{{field['friendly-name']}}</th>
				<td>{{model.attributes[field.name]}}</td>
			</tr>
		</table>
	</div>

	<div class="form-group">

	</div>
</div>
