---
layout: default
title: Job Board
customJS: jobs.js
---
{% raw %}

<pre>
	TODO:
	- External/public facing form for companies
	- Money integration
	- Internal dashboard view for approving
	- Markdown bullet points for form
	- Log $ paid
	- Show preview of form to client
	- Manual confirmation - form email at confirmation screen for board person
</pre>

<div ng-controller="JobsBoard">
	
	<h2>New Applications</h2>

	
	
	

	<ul class="pending__jobs">
		<li ng-repeat="job in pendingList" class="job__listing">
			<div class="about__position">
				<label>Title</label>
				<input type="text" ng-model="job.positionTitle"></span>
				
				<label>Description</label>
				<textarea ng-model="job.description"></textarea>
				
				<label>Category</label>
				<select ng-model="job.category" ng-options="categories for categories in categories"></select>
				
				<label>Level</label>
				<select ng-model="job.positionLevel" ng-options="level for level in levels"></select>
	    		
				<label>Application</label>
				<input type="text" ng-model="job.applicationUrl">
			</div>
			<div class="about__company">
				<label>Name</label>
				<input type="text" ng-model="job.company.name">
				
				<label>Website</label>
				<input type="text" ng-model="job.company.url">
				
				<label>Description</label>
				<textarea ng-model="job.company.description"></textarea>
			</div>
			<div class="about__listing">
				<label>Paid</label>
				<input type="text" value="50">
				<button>Preview</button>
				
				<label>Live</label>
			</div>
		</li>
	</ul>


<!-- 
<h1>SAMPLE</h1>

<h3 ng-bind="positionTitle"></h3>
<p ng-bind="positionDescription"></p>
<label ng-bind="positionCategory"></label>

<p ng-bind="positionLevel"></p>

<a ng-href="{{applicationURL}}">Apply here</a>

<hr>

<h5>Company</h5>

<a ng-href="{{companyURL}}"><p ng-bind="company"></p></a>
	
<p ng-bind="companyDescription"></p>

-->

</div>
{% endraw %}