
<!--Form-->
<div class="col-md-offset-1 col-md-5">
  <form id="event-add-form" role="form" name="form" ng-submit="submit()" novalidate>
    <!--Header-->
    <div class="row content-header-container">
      <legend><h2>Add New Event</h2></legend>
    </div>

    <!--Team Selectors-->
    <div class="row">
      <label>Team(s) Hosting the Event</label>
      <ul class="inlineblock-li event__team-selector">
        <li ng-repeat="team in teams">
          <button class="btn" ng-class="{selected: selectedTeams[team.id]}" type="button" ng-click="toggleTeam(team.id)">{{team.name}}</button>
        </li>
      </ul>
    </div>

    <!--Title-->
    <div class="row" ng-init="titleLength = 1000">
      <label for="title">
        Title
        <p>What topic(s) will be covered? There's generally no need to mention the initiative name or the speaker, as those are specified elsewhere.</p>
      </label>
      <input name="title" class="form-control" ng-model="event.title"
      ng-maxlength={{titleLength}}>

      <!-- Show characters left if available -->
      <span ng-show="!form.title.$error.maxlength">
        {{titleLength - event.title.length}} chars left
      </span>

      <!--Show error if input is too long-->
      <span ng-show="form.title.$error.maxlength">Too long</span>
    </div>

    <!--Short Title-->
    <div class="row" ng-init="shortTitleLength = 26">
      <label for="shortTitle">
        Short Title
        <p>Add a shorter title for when the above is too long.</p>
      </label>
      <input name="shortTitle" class="form-control" ng-model="event.shortTitle" ng-maxlength="{{shortTitleLength}}">

      <!-- Show characters left if available -->
      <span ng-show="!form.shortTitle.$error.maxlength">
        {{shortTitleLength - event.shortTitle.length}} chars left
      </span>

      <!--Show error if input is too long-->
      <span ng-show="form.shortTitle.$error.maxlength">Too long</span>
    </div>

    <!--Description-->
    <div class="row" ng-init="descriptionLength = 100">
      <!-- Label and input-->
      <label for="description">
        Description
        <p>Why would someone come to the event? Don’t just restate what you’ll cover, but how the content can be applied. (E.g. “Learn to predict trends and behaviors with data” is far better than “Learn the basics of data science.”) </p>
      </label>
      <input type="text" name="description" class="form-control" rows="6" ng-model="event.description" ng-maxlength={{descriptionLength}} />

      <!-- Show characters left if available -->
      <span ng-show="!form.description.$error.maxlength">
        {{descriptionLength - event.description.length}} chars left
      </span> 

      <!--Show error if input is too long-->
      <span ng-show="form.description.$error.maxlength">Too long</span>
    </div>

    <!--Details-->
    <div class="row" ng-init="detailsLength = 10000">
      <!-- Label and input -->
      <label for="details">
        Details
        <p>What exactly will attendees build? What they should install in advance? (Linking to a working version of the final product is ideal.) Or, what will the speaker discuss? (But don't include the speakers' bio, if ay.) Also, how do attendees get into the building? Etc.</p>
      </label>
      <textarea name="details" class="form-control" rows="6" ng-model="event.details" ng-maxlength={{detailsLength}}></textarea>

      <!-- Show characters left if available -->
      <span ng-show="!form.details.$error.maxlength">
        {{detailsLength - event.details.length}} chars left
      </span>

      <!--Show error if input is too long-->
      <span ng-show="form.details.$error.maxlength">Too long</span>
    </div>

    <!--RSVP URL-->
    <div class="row">
      <label for="event-rsvp-url">
        RSVP URL
        <p>The Facebook or Meetup URL where people can RSVP for this event.</p>
      </label>
      <input type="url" name="event-rsvp-url" class="form-control" />
    </div>
    
    <!--Internal Event Specifier-->
    <div class="row">
      <label for="isInternal">Internal Event? (i.e. Is this just for our board?)</label>
      <input name="isInternal" class="form-control" type="checkbox" value="false">
    </div>

    <!--Start Time-->
    <div class="row">
      <label for="startDateTime">Starts</label><br/>
      <datetimepicker name="startDateTime" min-date="Date.now()" minute-step="15" ng-model="event.startDateTime" date-format="dd-MMM-yyyy"></datetimepicker>
    </div>

    <!--End Time-->
    <div class="row">
      <label for="endDateTime">Ends</label><br/>
      <datetimepicker name="startDateTime" min-date="Date.now()" minute-step="15" ng-model="event.endDateTime" date-format="dd-MMM-yyyy"></datetimepicker>
    </div>

    <!--Co-Organizers-->
    <div class="row">
      <label for="coorganizers">Coorganizing Clubs or Organizations</label>
      <div
        multi-select
        input-model="coorganizers"
        output-model="selectedCoorgs"
        button-label="name"
        item-label="name"
        tick-property="ticked" 
      ></div>
      <button type="button" class="btn btn-default btn-block" ng-click="addCoorganizer()">+ New Coorganizer</button>
    </div>

    <!--Presenters-->
    <div class="row">
      <label for="presenters">Presenters</label>
      <div
        multi-select
        input-model="presenters"
        output-model="selectedPresenters"
        button-label="name"
        item-label="name"
        tick-property="ticked"
      ></div>
      <button type="button" class="btn btn-default btn-block" ng-click="addPresenter()">+ New Presenter</button>
    </div>

    <!--Venues-->
    <div class="row">
      <label for="venues">Venue</label>
      <div     
        multi-select
        input-model="venues"
        output-model="selectedVenue"
        button-label="name"
        item-label="name"
        selection-mode="single"
        tick-property="ticked" 
      ></div>
      <button type="button" class="btn btn-default btn-block" ng-click="addVenue()">+ New Venue</button>
    </div>

    <!--Gender Representative-->
    <div class="row">
      <label for="host">
        Host
        <p>A tech@nyu member who will attend the event, wear a tech@nyu shirt, and welcome people.</p>
      </label>
      <div     
        multi-select
        input-model="host"
        output-model="selectedHost"
        button-label="name"
        item-label="name"
        selection-mode="single"
        tick-property="ticked" 
      ></div>
    </div>

    <!--Gender Representative-->
    <div class="row">
      <label for="gender-rep">
        Gender Representative
        <p>Another board member who will attend the event, and who is a different gender than the host.</p>
      </label>
      <div     
        multi-select
        input-model="genderRep"
        output-model="selectedGenderRep"
        button-label="name"
        item-label="name"
        selection-mode="single"
        tick-property="ticked" 
      ></div>
    </div>

    <div class="row">
      <label for="statuses">Event Status</label>
      <select name="statuses" class="form-control" ng-model="event.status">
        <option ng-repeat="status in eventStatuses" ng-value="status.id">
          {{status.name}}
        </option>
      </select>
    </div>

    <!--Add Button-->
    <div class="row text-center">
      <input name="addedBy" type="text" model="event.addedBy" hidden="hidden" />
      <button type="submit" class="btn btn-primary btn-block">Add Event</button>
    </div>
  </form>
</div>

<!--Preview-->
<div class="sidebar col-md-offset-7 col-md-4">
  <div class="content-header-container row">
    <header class="content-header">
      <h4>Preview</h4>
    </header>
  </div>
  <div id="event-add-preview" class="well well-sm">
    <h4>Name</h4>
    {{event.title}}

    <h4>Details</h4>
    <pre class="copyable-plaintext">
      {{event.description}}

      {{event.details}}

      All tech@nyu events are covered by a strict anti-harassment policy: http://techatnyu.org/anti-harassment
    </pre>

    <h4>When</h4>
    <p>{{event.startDateTime | date: 'MM/dd h:mma' : 'UTC'}} &ndash; {{event.endDateTime | date: 'MM/dd h:mma' : 'UTC'}}</p>
  </div>

  <div class="content-header-container row">
    <header class="content-header">
      <h4>Errors</h4>
    </header>
  </div>
  <div>
    <div class="alert alert-info" role="alert" ng-hide="validationErrors">
      No validation errors!
    </div>
    <div class="alert alert-danger" role="alert" ng-repeat="error in validationErrors">
      {{error.title}}
    </div>
  </div>
</div>
