<div class="container">
	<h1>Home</h1>

        <div class="api-areas">
	  <div ng-repeat="rdesc in apidesc" class="api-area">
	  	<div class="panel panel-default">
	  		<div class="panel-heading">
	  			<div class="panel-title">{{rdesc.attributes.name.plural}}</div>
	  		</div>
	  		<div class="panel-body">
	  			<p>
	  				<a ui-sref="list({resourceName:
                                            rdesc.id})" class="btn btn-default">Find</a>
	  				<a ui-sref="add({resourceName: rdesc.id})" class="btn btn-success">Add</a>
	  			</p>
	  		</div>
	  	</div>
	  </div>
        </div>
</div>
