<div class="container">
  <div class="card-deck justify-content-md-center">
    <div ng-repeat="rdesc in apidesc">
      <div class="card" style="width: 300px; height: 150px; margin: 20px">
        <div class="card-body">
          <h4 class="card-title">{{rdesc.attributes.name.plural}}</h4>
          <a ui-sref="list({resourceName: rdesc.id})" class="btn btn-outline-primary">List</a>
          <a ui-sref="add({resourceName: rdesc.id})" class="btn btn-success">Add</a>
        </div>
      </div>
    </div>
  </div>
</div>
