<!doctype html>
<html>
<head>
  <title>Tech@NYU Intranet</title>
  <meta charset="utf-8">

  <!--CSS Libraries-->
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/js/lib/chosen_v1.4.2/chosen.css">

  <!--User Defined CSS-->
  <link rel="stylesheet" href="/css/app.css"/>

  <!--Crossdomain-->
  <script src="//cdn.rawgit.com/jpillora/xdomain/0.7.4/dist/xdomain.min.js" slave="https://api.tnyu.org/v3-test/proxy.html"></script>

  <!--JavaScript Libraries-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.3.1/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-sanitize.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js"></script>
  <script src="/js/lib/chosen_v1.4.2/chosen.jquery.js" type="text/javascript"></script>
  <script src="/js/lib/chosen-angular.js"></script>
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script src="/js/lib/angular-ui-tinymce.js"></script>

  <!-- User Defined Libraries -->
  <script src="/js/lib/extensions.js"></script>

  <!--User Defined JavaScript-->
  <script src="/js/app.js"></script>
  <script src="/js/routes.js"></script>
  <script src="/js/directives.js"></script>
  <script src="/js/filters.js"></script>

  <script src="/js/controllers/auth-ctrl.js"></script>
  <script src="/js/controllers/main-ctrl.js"></script>
  <script src="/js/controllers/action-ctrl.js"></script>
  <script src="/js/controllers/actions/default/default-list-ctrl.js"></script>
  <script src="/js/controllers/actions/default/default-edit-ctrl.js"></script>
  <script src="/js/controllers/actions/default/default-add-ctrl.js"></script>
  <script src="/js/controllers/actions/event/event-add-ctrl.js"></script>
  <script src="/js/controllers/actions/event/event-list-ctrl.js"></script>
  <script src="/js/controllers/actions/membership/membership-add-ctrl.js"></script>
  <script src="/js/controllers/actions/membership/membership-list-ctrl.js"></script>
  <script src="/js/controllers/actions/membership/membership-edit-ctrl.js"></script>
  <script src="/js/controllers/actions/organization/organization-list-ctrl.js"></script>
  <script src="/js/controllers/actions/person/person-add-ctrl.js"></script>
  <script src="/js/controllers/actions/person/person-list-ctrl.js"></script>
  <script src="/js/controllers/actions/person/person-edit-ctrl.js"></script>
  <script src="/js/controllers/actions/jobs/jobs-add-ctrl.js"></script>
  <script src="/js/controllers/actions/jobs/jobs-list-ctrl.js"></script>
  <script src="/js/controllers/actions/jobs/jobs-edit-ctrl.js"></script>
  <script src="/js/controllers/actions/venues/venues-add-ctrl.js"></script>
  <script src="/js/controllers/actions/venues/venues-list-ctrl.js"></script>
  <script src="/js/controllers/actions/venues/venues-edit-ctrl.js"></script>
  <script src="/js/controllers/actions/incomes/incomes-add-ctrl.js"></script>
  <script src="/js/controllers/actions/incomes/incomes-list-ctrl.js"></script>
  <script src="/js/controllers/actions/incomes/incomes-edit-ctrl.js"></script>
  <script src="/js/controllers/actions/reimbursements/reimbursements-add-ctrl.js"></script>
  <script src="/js/controllers/actions/reimbursements/reimbursements-list-ctrl.js"></script>
  <script src="/js/controllers/actions/reimbursements/reimbursements-edit-ctrl.js"></script>
  <script src="/js/controllers/inputs/date-ctrl.js"></script>
  <script src="/js/controllers/inputs/tinymce-ctrl.js"></script>
  <script src="/js/services/api-descriptor.js"></script>
  <script src="/js/services/data-transformer.js"></script>
  <script src="/js/services/form-element-provider.js"></script>
  <script src="/js/services/page-provider.js"></script>
</head>
<body ng-app="app" ng-controller="AuthCtrl">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="index">
          <i class="glyphicon glyphicon-home" aria-hidden="false"></i>
          Tech@NYU Intranet
        </a>
      </div>
      <span class="navbar-right" ng-if="user">
        <span class="navbar-text">Hi, {{user.attributes.name}}! </span>
        <a type="button" class="btn btn-sm btn-default navbar-btn" ui-sref="edit({resourceName: 'people', id: 'me'})">
          Profile&nbsp;
          <i class="glyphicon glyphicon-user" aria-hidden="false"></i>
        </a>
        <button type="button" class="btn btn-sm btn-default navbar-btn" ng-click="signOut()">
          Sign out&nbsp;
          <i class="glyphicon glyphicon-off" aria-hidden="false"></i>
        </button>
      </span>
    </div>
  </nav>
  <main class="content">
    <div ng-switch="!!user">
      <div id="primary-view" ng-switch-when="true">
        <div ui-view></div>
      </div>
      <div id="unauthorized-view" ng-switch-default>
        <div class="container">
          <h3>Unauthorized!</h3>

          <p>You must be signed in to the API to use this page.</p>
          <button class="btn btn-primary" ng-click="signIn()">
            Sign-in
          </button>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
