<div class="container" ng-controller="EventListCtrl">
	<h3>
		List {{rdesc.attributes.name.singular}}
	</h3>
	<h5>{{rdesc.attributes.description}}</h5>

	<div class="form-group">
		<select chosen
				ng-model="model"
				ng-options="(m.attributes.title) group by displayDate(m.attributes.startDateTime) for m in data | orderBy: 'attributes.startDateTime': true"
				ng-change="updateSelection(model.id)"
				style="width: 500px;">
			<option value=""></option>
		</select>
		<button ui-sref="add({resourceName: rdesc.id})" class="btn btn-sm btn-success">Add</button>
		<button ui-sref="edit({resourceName: rdesc.id, id: model.id})" ng-disabled="!model" class="btn btn-sm btn-primary">Edit</button>
		<button ng-click="deleteResource(model.id)" ng-disabled="!model" class="btn btn-sm btn-danger">Delete</button>
	</div>

	<div class="form-group">
		<table class="table table-hover table-bordered table-condensed">
			<tr>
				<th>ID</th>
				<td>{{model.id}}</td>
			</tr>

			<tr ng-repeat="field in rdesc.attributes.fields"
					ng-if="field.name !== 'id' && field.name !== 'survey'
					&& field.name !== 'venue' && field.name !== 'teams'
					&& field.name !== 'presenters' && field.name !== 'coorganizers'
					&& field.name !== 'attendees' && field.name !== 'addedBy'
					&& field.name !== 'teaches' && field.name !== 'feedback'
					&& field.name !== 'level' && field.name !== 'rsvpUrl'
					&& field.name !== 'body' && field.name !== 'aims'
					&& field.name !== 'rsvps' && field.name !== 'alternateRsvpUrls'
					&& field.name !== 'categories' && field.name !== 'details'">
				<th>{{field['friendly-name']}}</th>
				<td>{{model.attributes[field.name]}}</td>
			</tr>

			<tr>
				<th>Body</th>
				<td ng-bind-html="model.attributes['body']"></td>
			</tr>

			<tr>
				<th>Details</th>
				<td ng-bind-html="model.attributes['details']"></td>
			</tr>

			<tr>
				<th>Categories</th>
				<td>{{eventDetails.categories[model.id]}}</td>
			</tr>

			<tr>
				<th>Aims</th>
				<td>{{eventDetails.aims[model.id]}}</td>
			</tr>

			<tr>
				<th>Venue</th>
				<td ng-bind-html="eventDetails.venue[model.id]"></td>
			</tr>

			<tr>
				<th>Teams</th>
				<td>{{eventDetails.team[model.id]}}</td>
			</tr>

			<tr>
				<th>Coorganizers</th>
				<td>{{eventDetails.coorganizers[model.id]}}</td>
			</tr>

			<tr>
				<th>Feedback</th>
				<td><a ng-href="https://api.tnyu.org/v3-test/survey-responses/{{eventDetails.feedback[model.id]}}">{{eventDetails.feedback[model.id]}}</a></td>
			</tr>

			<tr>
				<th>Surveys</th>
				<td><a ng-href={{eventDetails.survey[model.id]}}>{{eventDetails.survey[model.id]}}</a></td>
			</tr>

			<tr>
				<th>Added By</th>
				<td>{{eventDetails.addedBy[model.id]}}</td>
			</tr>

			<tr>
				<th>Presenters</th>
				<td>{{eventDetails.presenters[model.id]}}</td>
			</tr>

			<tr>
				<th>Teaches</th>
				<td>{{eventDetails.teaches[model.id]}}</td>
			</tr>

			<tr>
				<th>No. of Attendees</th>
				<td>{{eventDetails.attendeesCount[model.id]}}</td>
			</tr>

			<tr>
				<th>RSVP URLs</th>
				<td><a ng-href={{model.attributes.rsvpUrl}}>{{model.attributes.rsvpUrl}}</a></td>
			</tr>

			<tr>
				<th>Alt RSVP</th>
				<td ng-bind-html="eventDetails.altRsvps[model.id]"></td>
			</tr>

			<tr>
				<th>No. of RSVPs</th>
				<td>{{eventDetails.rsvpCount[model.id]}}</td>
			</tr>

			<tr>
				<th>Attendees</th>
				<td>{{eventDetails.attendees[model.id]}}</td>
			</tr>

			<tr>
				<th>RSVPs</th>
				<td>{{eventDetails.rsvps[model.id]}}</a></td>
			</tr>
		</table>
	</table>
	</div>
</div>
