<div class="container" ng-controller="EventEditCtrl">
	<h3>
		Edit {{rdesc.attributes.name.singular}}
	</h3>
	<h5>{{rdesc.attributes.description}}</h5>

	<form name="form" novalidate>
		<div class="form-group"
			ng-repeat="field in rdesc.attributes.fields"
			ng-if="fep.hiddenFields.indexOf(field.name) == -1"
			ng-include="'/partials/fields/default-field.html'">
		</div>
	</form
	>
	<div class="form-group" ng-if="statusFound">
		<button class="btn btn-primary" ng-click="updateResource(model, rdesc,0)">Save Changes</button>
	</div>
	<div class="form-group" ng-if="statusData=='draft'">
			<button class="btn btn-primary" ng-click="updateResource(model, rdesc, 'draft')">Announce this Event</button>
			<button class="btn btn-danger" ng-click="updateResource(model, rdesc, 'draft')">Delete Event</button>
	</div>
	<div class="form-group" ng-if="statusData=='announced'">
			<button class="btn btn-danger" ng-click="updateResource(model, rdesc, 'canceled')">Cancel this Event</button>
	</div>
	<div class="form-group" ng-if="statusData=='canceled'">
			<button class="btn btn-danger" ng-click="updateResource(model, rdesc, 'announced')">Un-Cancel this Event</button>
	</div>
	<div class="form-group" ng-if="!statusFound">
		<button class="btn btn-primary" ng-click="updateResource(model, rdesc, 'draft')">Submit</button>
	</div>
</div>
