<div class="modal-body">
  <form id="presenter-form" method="POST" action="" role="form">
    <legend>Presenter</legend>

    <fieldset class="form-group">
      <div class="col-md-10">
        <label for="title">Title</label>
        <input name="title" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Name</label>
        <input type="text" name="name" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Company</label>
        <input type="text" name="currentEmployer" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>URL</label>
        <input type="text" name="url" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Twitter ID</label> <i>Note: this is not the @handle, but their <a href="http://gettwitterid.com/">numeric ID</a>.</i>
        <input type="text" name="twitterId" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Short Bio</label>
        <input type="text" name="shortBio" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Phone Number</label>
        <input type="text" name="contact.phone" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Email</label>
        <input type="text" name="contact.email" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Skills</label>
        <input type="text" name="skills" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Image URL</label>
        <input type="text" name="imageUrl" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>School</label>
        <input type="text" name="school" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Graduation Date</label>
        <input type="text" name="graduationDate" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Notes</label>
        <textarea name="notes" class="form-control"></textarea>
      </div>

      <input type="submit" name="addPresenter" class="form-control"></input>

    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>