<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Add Presenter</h3>
</div>
<form id="presenter-form" role="form" ng-submit="submitPresenter()">
  <div class="modal-body">
    <fieldset class="form-group">
      <div class="col-md-10">
        <label for="title">Title</label>
        <input name="title" ng-model="formData.title" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Name</label>
        <input type="text" name="name" ng-model="formData.name" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Company</label>
        <input type="text" name="currentEmployer" ng-model="formData.employer" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>URL</label>
        <input type="text" name="url" ng-model="formData.url" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Twitter</label>
        <input type="text" name="twitter" ng-model="formData.twitter" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Short Bio</label>
        <input type="text" name="shortBio" ng-model="formData.shortBio" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Phone Number</label>
        <input type="text" name="contact.phone" ng-model="formData.contact.phone" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Email</label>
        <input type="text" name="contact.email" ng-model="formData.contact.email" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Skills</label>
        <input type="text" name="skills" ng-model="formData.skills" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Image URL</label>
        <input type="text" name="imageUrl" ng-model="formData.imageUrl" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>School</label>
        <input type="text" name="school" ng-model="formData.school" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Graduation Date</label>
        <input type="text" name="graduationDate" ng-model="formData.graduationDate" class="form-control"></input>
      </div>

      <div class="col-md-10">
        <label>Notes</label>
        <textarea name="notes" ng-model="formData.notes" class="form-control"></textarea>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <input type="submit" class="btn btn-primary" name="addPresenter" class="form-control"></input>
  </div>
</form>
