<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Add Venue</h3>
</div>
<form id="venue-form" method="POST" action="" role="form" ng-submit="submitVenue()">
  <div class="modal-body">
    <fieldset class="form-group">
      <div class="col-md-10">
        <label>Name</label>
        <input type="text" name="name" class="form-control" ng-model="formData.name"></input>
      </div>

      <div class="col-md-10">
        <label>Company</label>
        <!-- <input type="text" name="company" class="form-control" ng-model="formData.organization"></input> -->
        <div     
            multi-select
            input-model="companies"
            output-model="formData.organization"
            button-label="name"
            item-label="name"
            tick-property="ticked"
            selection-mode="single"
        ></div>
      </div>

      <div class="col-md-10">
        <label>Address</label>
        <input type="text" name="address" class="form-control" ng-model="formData.address"></input>
      </div>

      <div class="col-md-10">
        <label>Kind</label>
        <input type="text" name="kind" class="form-control" ng-model="formData.kind"></input>
      </div>

      <div class="col-md-10">
        <label>Seats</label>
        <input type="text" name="seats" class="form-control" ng-model="formData.seats"></input>
      </div>

      <div class="col-md-10">
        <label>Notes</label>
        <textarea name="notes" class="form-control" ng-model="formData.notes"></textarea>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
      <input type="submit" class="btn btn-primary" name="addPresenter" class="form-control"></input>
  </div>
</form>
